<style>
  /* Add the font-family property to your header and pane */
  header,
  #locations-pane {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box; /* Include padding and border within the element's dimensions */
  }

  #map {
    width: 80%;
    height: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  header {
    text-align: center;
    padding: 20px 5px 5px;
    background-color: #f1f1f1;
    height: 20%; /* Adjust the header height */
  }
  /* Add any other CSS properties you want for your pane */
  #locations-pane {
    font-size: 16px;
  }

  .main-container {
    display: flex;
    height: 80%; /* Set the height of the main container */
  }

  #map {
    width: 80%;
    height: 100%;
  }

  #locations-pane {
    width: 20%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
  }
  
  /* Increase the font size of the header text and reduce line-height */

  header h1 {
    font-size: 4vw; /* Use viewport width units (vw) for dynamic scaling */
    line-height: 1;
    margin-top: 0;
  }

  /* Larger font size for larger screens */
  @media (min-width: 768px) {
    header h1 {
      font-size: 64px; /* Set a fixed font size for screens wider than 768px */
    }
  }

  
  header p {
    font-size: 18px;
    line-height: 1.2; /* Adjust the line-height for the description text */
    margin-top: 5px 0; /* Remove space above the header p */
  }
  
  .filter-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter-item input[type="checkbox"] {
  margin-right: 5px;
}

.filter-item img {
  width: 24px; /* Adjust this value to change the icon size */
  height: 24px; /* Adjust this value to change the icon size */
  margin-right: 5px;
}

@media (min-width: 768px) {
  .filter-item {
    width: 33%;
  }
}
  
</style>
