/* Import Oswald font */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* General styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px 5px 5px;
  background-color: #f1f1f1;
  height: 20%; /* Adjust the header height */
  font-family: 'Oswald', sans-serif;
}

header h1 {
  font-size: 4vw; /* Use viewport width units (vw) for dynamic scaling */
  line-height: 1;
  margin-top: 0;
}

header p {
  font-size: 18px;
  line-height: 1.2; /* Adjust the line-height for the description text */
  margin: 5px 0 0; /* Remove space above the header p */
}

/* Main container styles */
.main-container {
  display: flex;
  height: 80%; /* Set the height of the main container */
}

/* Locations pane styles */
#locations-pane {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* Map styles */
#map {
  width: 80%;
  height: 100%;
}

/* Filter container styles */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter-item input[type="checkbox"] {
  margin-right: 5px;
}

.filter-item img {
  width: 24px; /* Adjust this value to change the icon size */
  height: 24px; /* Adjust this value to change the icon size */
  margin-right: 5px;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  header h1 {
    font-size: 64px; /* Set a fixed font size for screens wider than 768px */
  }

  .filter-item {
    width: 33%;
  }

  .icon-checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .price-description {
    margin-top: 5px;
  }
  
/* Remove the underline from the links */
.location a {
  text-decoration: none;
}

/* Add some space between the icon and the text */
.location a img {
  margin-left: 5px;
  vertical-align: middle;
}

.icon-right {
  margin-left: 8px;
}

.icon-left {
  height: 1em;
  margin-right: 8px;
  vertical-align: middle;
}

.external-link {
  text-decoration: none;
  vertical-align: middle;
  color: #339AF0;
}


}
